{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<section>
    <twig:HeaderPage title="Mon profil">
        <twig:block name="body">
            <p>{{ user_capability(user) }}</p>
        </twig:block>

        <twig:block name="footer">
            <p>
                <a class="btn btn-outline-primary" href="{{ path('app_logout') }}">Déconnexion</a>
                <button 
                    class="btn btn-danger" 
                    data-bs-toggle="modal" 
                    data-bs-target="#removeProfilModal"
                    >Suppression</button>
            </p>
        </twig:block>
    </twig:HeaderPage>

    <section class="container my-5">
        <div class="row g-3">
            <div class="col-12 col-lg">
                <turbo-frame id="user_edit">
                    <article class="card card-body">
                        <h2 class="mb-3 h5">
                            <twig:ux:icon name="tabler:user" class="icon bg-primary bg-opacity-10 p-2 text-primary rounded-circle" />
                            <span>Informations</span>
                        </h2>

                        {% include "partials/_alert.html.twig" %}

                        <ul class="list-group border-0">
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap">
                                    <span class="fw-bold col-12 col-sm">Inscription</span>
                                    <span class="col-12 col-sm">{{ user.createdAt|date('d/m/Y') }}</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap">
                                    <span class="fw-bold col-12 col-sm">Pseudo</span>
                                    <span class="col-12 col-sm">{{ user.username }}</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap">
                                    <span class="fw-bold col-12 col-sm">Adresse email</span>
                                    <span class="col-12 col-sm">{{ user.email }}</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex flex-wrap">
                                    <span class="fw-bold col-12 col-sm">Nombre de projets</span>
                                    <span class="col-12 col-sm"><a href="{{ path('project.list') }}">{{ user.projects|length }}</a></span>
                                </div>
                            </li>
                        </ul>
                    
                        <p class="mt-3 ms-3">
                            <a href="{{ path('profile.edit') }}" class="btn btn-primary">Modifier</a>
                            <a href="{{ path('profile.edit.password') }}" class="btn btn-outline-primary">Modifier mot de passe</a>
                        </p>
                    </article>
                </turbo-frame>
            </div>

            <div class="col-12 col-lg">
                <article class="card card-body">
                    <h2 class="mb-3 h5">
                        <twig:ux:icon name="tabler:activity" class="icon bg-primary bg-opacity-10 p-2 text-primary rounded-circle"/> <span>Activités</span>
                    </h2>
                    <p>Aucune activité d'enregistré</p>
                </article>
            </div>
        </div>
    </section>

    <div 
        class="modal fade" 
        id="removeProfilModal" 
        tabindex="-1" 
        aria-labelledby="removeProfilModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="removeProfilModalLabel">Suppression</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0">
                    <p class="mb-3">Confirmez-vous la suppression de votre compte ?</p>
                    <form method="POST" action="{{ path('profile.remove') }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('remove-user') }}">
                        <button type="submit" class="btn btn-primary">Oui</button>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Non</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
