<div{{ attributes.defaults({class: 'col-12'}) }}>
    <a href="{{ path('project.single', {id: project.id}) }}" class="card card-hover text-decoration-none">
        <div class="card-body">
            <h2 class="h6 d-flex justify-content-between align-items-center">
                <span class="text-primary">{{ project.name }}</span>
                
            </h2>
            <p>{{ project.description|raw }}</p>
        </div>

        <footer class="card-body d-flex justify-content-between align-items-center pt-0">
            <p class="small">{{ project.createdAt|date('m/d/Y') }}</p>
            <p class="small">
                <twig:ux:icon name="tabler:copy-check" class="icon-sm text-secondary" /> {{ this.numberTask }}
                {% if project.archived %}
                    <twig:ux:icon name="tabler:archive" class="icon-sm text-secondary"/>    
                {% endif %}
            </p>
        </footer>
    </a>
</div>
