<div{{ attributes }}>

    <twig:HeaderPage title="Mes projets" number="{{ computed.projects.totalItemCount }}">
        <twig:block name="body">
            <div>
                <p>Nombre de projet : {{ number }}</p>
                {{ user_capability(app.user) }}
            </div>

        </twig:block>
        
        <twig:block name="footer">
            {% if is_granted("CAN_ADD_PROJECT", app.user) %}
                <p>
                    <a class="btn btn-outline-primary" href="#collapseRegisterProject" data-bs-toggle="collapse">
                        <twig:ux:icon name="tabler:plus" class="icon-sm"/>
                    </a>
                </p>

                <div class="collapse" id="collapseRegisterProject">
                    <twig:ProjectFormTypeComponent methodName="save" />
                </div>
            {% endif %}
        </twig:block>
    </twig:HeaderPage>

    <section class="container my-5">
        <section class="mb-3 d-flex flex-wrap gap-2">
            <div class="col-12 col-sm col-lg-3">
                <input type="search" data-model="query" class="form-control" placeholder="Rechercher un projet..." />
            </div>
            <div class="col-12 col-sm col-lg-3">
                <select class="form-select" data-model="archived">
                    <option {% if archived == -1 %}selected{% endif %} value="-1">Afficher tous les projets</option>
                    <option {% if archived == 0 %}selected{% endif %} value="0">Afficher les projets non archivés</option>
                    <option {% if archived == 1 %}selected{% endif %} value="1">Afficher les projets archivés</option>
                </select>
            </div>
        </section>

        <div class="row g-2">
            {% for project in computed.projects %}
                <twig:Project:Card project="{{ project }}" key="{{ project.id }}"/>
                {% else %}
                <div class="mb-2">
                    <p>Aucun projet trouvé</p>
                </div>
            {% endfor %}
        </div>

        <div class="mt-3">
            {{ knp_pagination_render(computed.projects) }}
        </div>
    </section>
</div>
