{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section class="vh-100 bg-secondary bg-opacity-25">
    <div class="d-flex h-100">
        <div class="m-auto col-11 col-md-7 col-xl-6 col-xxl-4 shadow-sm">
            {% for flash_error in app.flashes('verify_email_error') %}
                <twig:Alert type="danger" message="{{ flash_error }}" />
            {% endfor %}

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm, {attr: {class: 'p-3 p-md-5 bg-white'} }) }}

                <h1 class="h3 mb-3 mb-xl-4 font-weight-normal text-uppercase">Inscription</h1>

                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <div>
                    <button type="submit" class="btn btn-primary">Inscription</button>
                </div>

                <hr class="my-4">

                <div>
                    <p class="mb-1">Vous possédez déjà un compte ? <a href="{{ path('app_login') }}">Connexion</a></p>
                    <p class="mb-0">Renouveller <a href="#">votre mot de passe</a></p>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</section>
{% endblock %}
