<div{{ attributes }} data-controller="collapse">

    {{ form_start(form, {
        attr: {
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save',
        }
    })}}
        {{ form_row(form.name) }}
        {{ form_row(form.color) }}
        <button 
            class="btn btn-primary" 
            type="submit">
            <span data-loading="action(save)|show">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </span> Envoyer
        </button>
    {{ form_end(form) }}
</div>
