{% extends 'base.html.twig' %}

{% block title %}{{ project.name }} | Projet{% endblock %}


{% block body %}
<section>
    <twig:HeaderPage title="{{ project.name }}">
        <twig:block name="body">
            <div class="mb-3">
                <p>
                    <twig:ux:icon name="tabler:clock" class="icon-sm text-secondary"/> 
                    {{ project.createdAt|date('d/m/Y') }}
                </p>
                {% if project.archived %}
                    <p>
                        <twig:ux:icon name="tabler:archive" class="icon-sm text-secondary"/> 
                        Projet Archivé
                    </p>
                {% endif %}
            </div>

            {% if project.description %}
                <p class="pb-2">
                    <a  class="" 
                        data-bs-toggle="collapse" 
                        href="#collapseContentProject" 
                        role="button"
                        aria-expanded="false" 
                        aria-controls="collapseContentProject">Description
                    </a>
                </p>
                <div class="collapse show" id="collapseContentProject">
                    <div class="mb-3">
                        {{ project.description|raw }}
                    </div>
                </div>
            {% endif %}
                
            <div>
                <a href="#collapseEditProject" data-bs-toggle="collapse" class="btn btn-outline-primary">Modifier</a>
                <a  data-bs-toggle="modal" 
                    href="#removeProjectlModal" class="btn btn-danger">Supprimer</a>
            </div>

            <div class="collapse" id="collapseEditProject">
                <twig:ProjectFormTypeComponent 
                    methodName="update" 
                    initialFormData="{{ project }}"/>
            </div>
        </twig:block>

        <twig:block name="footer">
            <twig:LabelList project="{{ project }}"/>
        </twig:block>
    </twig:HeaderPage>

    <section class="container my-5">
        <div class="row g-2">
            {% for section in project.sections %}

            <div class="col-12">
                <article class="card card-body">
                    <header>
                        <h3 class="h6">{{ section.name }}</h3>
                    </header>

                    <div class="row g-2">
                        {% for task in section.tasks %}
                        <div class="col-12">
                            <article class="card card-body">
                                <h4 class="h6">{{ task.name }}</h4>
                                <p>{{ task.content }}</p>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </section>

    <div 
        class="modal fade" 
        id="removeProjectlModal" 
        tabindex="-1" 
        aria-labelledby="removeProjectlModalLabel" 
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="removeProjectlModalLabel">Suppression</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0">
                    <p class="mb-3">Confirmez-vous la suppression de votre projet ?</p>
                    <form method="POST" action="{{ path('project.remove', {id: project.id}) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('remove-project') }}">
                        <button type="submit" class="btn btn-primary">Oui</button>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Non</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}